*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: url("imgs/bg2.jpeg");
 background-size: cover;

}
h1{
    text-align: center;
    text-decoration: underline;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color:   background-color: rgba(1, 1, 1, 3, 3);;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1, 0.1);
    border-radius: 10px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 20px;
}
input,
textarea{
padding: 6px 10px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 15px;
}
inpu:focus{
    outline-color: blue;
}
.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    background-color: rgba(16, 16, 212, 0.742);
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3 ease-in;
}
button:hover{
    background-color: #ccc;
    border: 2px solid rgba(16, 16, 212, 0.742);
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control{
    margin-top: 20px;
    margin-bottom: 5px;
    grid-column: 1 /span 2;
}
.textarea_control textarea{
    width: 100%;
}
@media(max-width:460px){
    .textarea_control{
        grid-column: 1 /span 1;
    }
}
.required {
  color: red;
}
.card{
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  border:: 8px solid black;
  background-color: white;
  border-radius: 2%;
}
